<h1 class='text-center'>Sign Up</h1>
<div class='row'>
  <div class='col-md-4 offset-4'>
  <%= form_with(model: @user, local:true)  do |f|%>
    <%= render 'shared/error_messages' %>
    <%= f.label :name%><br>
    <%= f.text_field :name, class: 'mb-1 form-control'%><br>
    <%= f.submit 'Create account', class: 'mt-2 btn btn-primary' %>
  <%end%>
  </dvi>
</dvi>

