<nav>
  <div class='nav-container lato-font d-flex j-content-between m-lr-20'>
    <div class="nnav-home d-flex j-content-between a-items-center">
      <%=link_to(image_tag("logo.png", size: "125x40", alt: "icon"), root_path, class: "nav-links")%>
      <%=link_to("Add category", new_category_path, class: "nav-links")%>
      <%=link_to("All categories",categories_path, class: "nav-links")%>
    </div>
    <%= menu_categories %>
    <%=logged_menu%>
  </div>
</nav>